.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  width: min(420px, 100%);
}
.container-new {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  width: min(420px, 100%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 113px;
    padding-right: 113px;
    width: min(768px, 100%);
  }
}

@media screen and (min-width: 882px) {
  .container-new {
    margin: 0 auto;
    padding-left: 113px;
    padding-right: 113px;
    width: min(882px, 100%);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 140px;
    padding-right: 140px;
    width: min(1440px, 100%);
  }

  .container-new {
    padding-left: 140px;
    padding-right: 140px;
    width: min(1440px, 100%);
  }
}
