:root {
  --dark: #101822;
  --semidark: #18212a;
  --red: #ff4654;
  --lightred: #ff8189;
  --light: #ece8e1;
  --white: #ffffff;
  --transparent: rgba(0, 0, 0, 0);

  --first-pseudoelement-height: 0;
  --first-pseudoelement-left: 0;
  --first-pseudoelement-top: 0;
  --first-pseudoelement-width: 0;

  --second-pseudoelement-height: 0;
  --second-pseudoelement-right: 0;
  --second-pseudoelement-top: 0;

  --cutting-element-width: 0;
  // --cutting-gradient-percentage: 0;
}
