<section class="about">
  <div class="about__body container">
    <div class="about__title-container">
      <h2 class="about__title">About the game</h2>
      <p class="about__title-copy">About the game</p>
    </div>

    <div class="about__content">
      <picture class="about__image">
        <source
          srcset="
            ./images/Jett.png?as=webp&width=266 1x,
            ./images/Jett.png?as=webp&width=532 2x,
            ./images/Jett.png?as=webp&width=798 3x
          "
          media=""
          sizes=""
          type="image/webp"
        />
        <source
          srcset="
            ./images/Jett.png?as=webp&width=266 1x,
            ./images/Jett.png?as=webp&width=532 2x,
            ./images/Jett.png?as=webp&width=798 3x
          "
          media=""
          sizes=""
          type="image/png"
        />
        <img
          src="./images/Jett.png"
          alt="Jett image"
          width="266"
          height="407"
        />
      </picture>
      <div class="video-placeholder"></div>
    </div>

    <p class="about__text">
      Blend your style and experience on a global, competitive stage. You have
      13 rounds to attack and defend your side using sharp gunplay and tactical
      abilities. And, with one life per-round, you'll need to think faster than
      your opponent if you want to survive. Take on foes across Competitive and
      Unranked modes as well as Deathmatch and Spike Rush. <br />
      Blend your style and experience on a global, competitive stage. You have
      13 rounds to attack and defend your side using sharp gunplay and tactical
      abilities. And, with one life per-round, you'll need to think faster than
      your opponent if you want to survive. Take on foes across Competitive and
      Unranked modes as well as Deathmatch and Spike Rush.
    </p>
    <dl class="about__list features-list">
      <div class="features-list__container">
        <dt class="features-list__number">5</dt>
        <dd class="features-list__feature">Players</dd>
      </div>
      <div class="features-list__container">
        <dt class="features-list__number">13</dt>
        <dd class="features-list__feature">Rounds</dd>
      </div>
      <div class="features-list__container">
        <dt class="features-list__number">16</dt>
        <dd class="features-list__feature">Agents</dd>
      </div>
      <div class="features-list__container">
        <dt class="features-list__number">4</dt>
        <dd class="features-list__feature">Maps</dd>
      </div>
    </dl>
  </div>
</section>
