<footer class="footer">
  <div class="footer__body container-new">
    <div class="footer__content">
      <div class="footer__icons">
        <div class="footer__valorant">

          <svg class="footer-valorant-logo" width="50" height="42">
            <use href="images/icons.svg#icon-valorant-logo"></use>
          </svg>
          <p class="footer__valorant-text">Valorant</p>
        </div>
        <svg class="footer-rito-logo rito-logo" width="89" height="29">
          <use href="images/icons.svg#icon-rito-logo"></use>
        </svg>
        <a href="#" class="footer__download">Download game client</a>
        <ul class="footer__socials-list socials-list">
          <li class="socials-list__item">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="socials-list__item">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-discord"></use>
            </svg>
          </li>
          <li class="socials-list__item">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="socials-list__item">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="socials-list__item">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </li>
        </ul>
      </div>
      <ul class="footer__links">
        <li class="footer_links-item">
          <a href="#" class="footer__link">Cookie prefrence</a>
        </li>
        <li class="footer_links-item">
          <a href="#" class="footer__link">Term of service</a>
        </li>
        <li class="footer_links-item">
          <a href="#" class="footer__link">Privacy notice</a>
        </li>
      </ul>
      <div class="footer_esrb-container">
   
          <img
            class="footer_esrb-image"
            src="./images/esrb.svg"
            alt="esrb image"
            width="26"
            height="39"
          />
          <!-- ! -->
          <ul class="footer__esrb-text">
            <li class="footer__esrb-text-item">Blood</li>
            <li class="footer__esrb-text-item">Language</li>
            <li class="footer__esrb-text-item">Violence</li>
            <li class="footer__esrb-text-item">Users Interact</li>
            <li class="footer__esrb-text-item">In-Game Purchases</li>
          </ul>
 
      </div>
      
    </div>
    
    
  </div>
  <div class="footer-bg-container">
    <div class="footer__mobile-bg"></div>
    <small class="footer__copy"
      >&#169 2021 Riot Games, Inc. Riot Games, VALORANT, and any associated logos
      are trademarks, service marks, and/or registered trademarks of Riot
      Games, Inc.</small
    >
  </div>
</footer>
