<header class="header">
  <div class="header-container">
    <nav class="header__nav">
      <div class="header__icon-container">
        <svg class="header__logo" width="30" height="25">
          <use href="./images/icons.svg#icon-valorant-logo"></use>
        </svg>
        <p class="header__logo-text">Valorant</p>
      </div>

      <div class="header__menu-icon-container">
        <svg class="header__menu-icon" width="50" height="30">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </div>
    </nav>
  </div>
</header>
