<section class="hero">
  <div class="hero__body container">
    <p class="hero__subtitle">A 5v5 character -based tactical shooter</p>
    <h1 class="hero__title">Valorant</h1>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, turpis
      massa arcu blandit justo enim. Mauris dis libero leo in amet proin
      sagittis fringilla.
    </p>
    <b class="hero__try-it">Why don’t you try it now ?</b>
    <a href="#" class="hero__button">Download</a>
  </div>
</section>
