.agents {
  background-color: var(--dark);
}

.agents-title-container {
  width: fit-content;
}

.agents__title {
}
.agents__title-copy {
}
.agents__content {
}
.agents__image {
}
.agents-check-all {
  display: none;
}
.agents__text1 {
}
.agents__button {
  @include button(var(--red), var(--transparent), var(--light));
}
.agents__text2 {
  display: none;
}
.agents__aside {
  display: none;
  position: absolute;
  right: 0;
  bottom: 40px;
  writing-mode: vertical-lr;
  width: fit-content;
  transform: rotate(-180deg);
}
