.agents {
  background-color: var(--dark);
  padding-top: 27px;
  // padding-bottom: 61px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    @media screen and (min-width: 882px) {
      display: block;
      width: var(--cutting-element-width);
      height: 113px;
      background-color: var(--red);

      background: linear-gradient(
        45deg,
        var(--transparent) 79px,
        var(--red) 79px
      );
    }
    @media screen and (min-width: 1440px) {
      height: 140px;
      background: linear-gradient(
        45deg,
        var(--transparent) 99px,
        var(--red) 99px
      );
    }
  }
}
.agents__body {
  position: relative;

  &::before {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: var(--first-pseudoelement-left);
    width: 3px;
    background-color: red;
    height: var(--first-pseudoelement-height);
    @media screen and (min-width: 882px) {
      display: block;
    }
  }
  &::after {
    content: '';
    display: none;
    position: absolute;
    top: var(--first-pseudoelement-top);
    left: var(--first-pseudoelement-left);
    width: var(--first-pseudoelement-width);
    background-color: red;
    height: 3px;
    @media screen and (min-width: 882px) {
      display: block;
    }
  }
}

.agents-title-container {
  width: fit-content;
  margin-bottom: 27px;
}

.agents__title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(30 / 24);
  text-transform: uppercase;
  width: fit-content;

  color: rgba(236, 232, 225, 0.9);
}
.agents__title-copy {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-size: 48px;
  line-height: calc(60 / 48);
  text-transform: uppercase;
  width: fit-content;

  color: rgba(236, 232, 225, 0.1);
}
.agents__content {
  margin-bottom: 43px;

  &::before {
    content: '';
    display: none;
    position: absolute;
    top: var(--second-pseudoelement-top);
    right: var(--second-pseudoelement-right);
    width: 3px;
    background-color: red;
    height: var(--second-pseudoelement-h);
    height: var(--second-pseudoelement-height);
    @media screen and (min-width: 882px) {
      display: block;
    }
  }
}
.agents__image {
}
.agents-check-all {
  display: none;
}
.agents__text1 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: var(--light);
  margin-bottom: 44px;
}
.agents__button {
  @include button(var(--red), var(--transparent), var(--light));
}
.agents__text2 {
  display: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: var(--light);
}
.agents__aside {
  // display: none;
  position: absolute;
  right: 0;
  bottom: 40px;
  writing-mode: vertical-lr;
  width: fit-content;
  transform: rotate(-180deg);
}

.cut-right {
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: -27px;
    display: none;
    @media screen and (min-width: 882px) {
      // display: block;
      width: 113px;
      height: 113px;
      background: linear-gradient(
        to bottom left,
        var(--red) 50%,
        var(--transparent) 50%
      );
    }
    @media screen and (min-width: 1440px) {
      width: 140px;
      height: 140px;
    }
  }
}
