.header {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  z-index: 10;
}
.header-container {
  padding-left: 30px;
  padding-right: 11px;
  width: min(420px, 100%);
  margin: 0 auto;

  &::after {
    content: '';
    width: 15.3955%;
    height: 15.3955%;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__icon-container {
}
.header__logo {
  fill: var(--red);
  margin: 0 auto;
}
.header__logo-text {
  text-transform: uppercase;
  font-family: 'VALORANT';
  font-size: 5.6px;
  margin: 0;
  color: var(--red);
  margin: 0 auto;
}
.header__menu-icon-container {
}
.header__menu-icon {
  fill: var(--red);
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 62px;
    padding-right: 34px;
    width: min(768px, 100%);
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 140px;
    padding-right: 72px;
    width: min(1440px, 100%);
  }
}
