.hero {
  background-color: var(--dark);
  position: relative;
}
.hero__body {
  padding-top: 128px;
  position: relative;
}
.container {
}
.hero__subtitle {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: var(--light);
  margin: 0 auto;
  width: 100%;
}
.hero__title {
  font-family: 'VALORANT';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(79 / 72);
  text-align: center;

  color: var(--light);
  margin: 0 auto;
  margin-bottom: 9px;
  width: 100%;
}
.hero-text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: calc(13 / 10);
  text-align: center;
  letter-spacing: 0.25em;
  color: var(--light);
  margin: 0 auto;
  margin-bottom: 27px;
  width: 100%;
}
.hero__try-it {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: calc(16 / 13);
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--light);
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  //   width: 100%;
}
.hero__button {
  @include button(var(--dark), var(--red), var(--light));
  margin: 0 auto;
}
.hero__image {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.hero__skills,
.hero__players {
  display: none;
}

@media screen and (min-width: 400px) {
  .hero__title {
    font-size: 68px;
  }
  .hero__image {
    margin-left: 38px;
  }
}

@media screen and (min-width: 882px) {
  .hero {
    background-color: var(--dark);
    // background: linear-gradient(
    //   to bottom,
    //   var(--dark) 84.6045%,
    //   var(--red) 84.6045%
    // );

    background: conic-gradient(
      from 270deg at 50% 84%,
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--dark),
      var(--red),
      var(--red),
      var(--red)
    );
  }

  .hero__body {
    padding-top: 105px;
    padding-bottom: 295px;
    background: linear-gradient(
        to right,
        rgba(16, 24, 34, 0.95),
        rgba(16, 24, 34, 0.5)
      ),
      url('./../images/landing-hero-bg.png') var(--dark);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    &::after {
      content: '';
      height: 16%;
      aspect-ratio: 1/1;
      background-color: blue;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom left,
        var(--transparent) 50%,
        var(--red) 50%
      );
    }
  }
  .hero__subtitle {
    font-size: 14px;
    text-align: left;
    margin-bottom: 3px;
  }

  .hero__title {
    font-size: 72px;
    text-align: left;
  }
  .hero-text {
    margin-left: 0;

    font-size: 12px;
    text-align: left;
    max-width: 470px;
    margin-bottom: 40px;
  }
  .hero__try-it {
    margin-left: 0;
    font-size: 16px;
    text-align: left;
    max-width: 411px;
    margin-bottom: 40px;
  }
  .hero__button {
    margin-left: 0;
    @include button(var(--dark), var(--light), var(--light));
  }

  .hero__image {
    position: absolute;
    bottom: 0;
    right: 113px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero__body {
    padding-top: 222px;
    padding-bottom: 185px;
    background: linear-gradient(
        to right,
        rgba(16, 24, 34, 0.95),
        rgba(16, 24, 34, 0.5)
      ),
      url('./../images/landing-hero-bg.png') var(--dark);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .hero__subtitle {
    font-size: 16px;
    text-align: left;
    margin-bottom: 3px;
  }

  .hero__title {
    font-size: 140px;
    text-align: left;
    line-height: calc(154 / 140);
    position: relative;
    left: -10px;
  }
  .hero-text {
    margin-left: 0;

    font-size: 14px;
    text-align: left;
    max-width: 470px;
    margin-bottom: 110px;
  }
  .hero__try-it {
    margin-left: 0;
    font-size: 36px;
    text-align: left;
    max-width: 411px;
    margin-bottom: 40px;
  }
  .hero__button {
    margin-left: 0;
  }
  .hero__image {
    right: 72;
  }

  .hero__players {
    position: absolute;
    display: block;
    color: var(--red);
    text-transform: uppercase;
    left: 76px;
    bottom: 100px;
    writing-mode: vertical-rl;

    transform: rotate(180deg);
    height: 240px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(23 / 18);
    letter-spacing: 0.25em;
  }
  .hero__skills {
    position: absolute;
    display: block;
    color: var(--red);
    text-transform: uppercase;
    right: 222px;
    top: 222px;
    height: 135px;

    writing-mode: vertical-rl;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(23 / 18);
    letter-spacing: 0.25em;
  }
}
